<table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
    <thead>
    <tr class="text-start text-dark fw-bolder fs-7 text-uppercase gs-0">
        <th style="white-space: nowrap" class="">Modifié le</th>
        <th style="white-space: nowrap" class="">Modifié par</th>
        <th class="">Type</th>
        <th class="">Détails</th>
    </tr>
    </thead>
    <tbody class="text-gray-600 fw-bold">
    {% for newslatter in newsletters %}
        <tr>

            <td style="white-space: nowrap">{{newslatter.date? newslatter.date|date('d-m-Y') : '' }}</td>
            <td>
                {{ newslatter.user? newslatter.user.userName : "" }}
            </td>
            <td>
                <div class="badge badge-light-info fw-bolder">
                    {{ newslatter.modifType==1? "Création" : "Modification" }}
                </div>
            </td>
            <td style="overflow-wrap: anywhere; text-align: distribute;">
                {{ newslatter.details|json_encode() }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
