<div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-bold me-1">2021©</span>
        <a href="#" class="text-gray-800 text-hover-primary">CLINACT</a>
    </div>
</div>